<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>is this phishing?</title>
		<link rel="icon" href="static/res/phishing.png" type="image/icon type">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="./static/main.css">
	</head>
	<body>
		<form action="#" method="POST" class="main-container">
			<p>is this <input type="text" name="input_url" placeholder="url" class="input-bar">
			<input type="submit" value="phishing?" class="btn-submit">
		</form>
		<div class="trade">&copy; Nikesh and team</div>
	</body>
</html>